.footer {
 & p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;       
    &&&.iconRedes{
      width: 35px;
      height:35px ;
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 15px;
    }
  }
}
  