.containerForm{
    min-height: 45vh;
    margin: 80px;  
    background-color: rgb(95, 93, 93);    
    
    .recuadroForm{
        border: 2px solid rgba(5, 4, 3, 0.13);   
    }    
    .formItem{
        margin: 10px;
    }
}
